body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, serif;
  background-color: #FFF;
  min-width: 1232px;
  min-height: 717px;
}

.warn {
  color: #FF0000;
}

.ok {
  color: #00FF00;
}

.maincontent {
  width: 600px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 20px 30px;
}

td.column1 {
  width: 100%;
  vertical-align: top;
}

td.column2 {
  width: 300px;
  vertical-align: top;
}

.menicko {
  padding: 0;
  margin: 0;
  background-color: #CCC;
  width: 100%;
  height: 50px;
}

.menicko a {
  display: inline-block;
  color: #555;
  font-size: 18px;
  margin: 0;
  padding: 0px 15px;
  text-decoration: none;
  vertical-align: top;
  height: 100%;
  line-height: 46px;
  outline: 0;
}

.menicko a:hover {
  background-color: #AAA;
}

.menicko img {
  display: inline-block;
  vertical-align: middle;
}

#conn-alert {
  background-color: red;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #EEE;
  font-weight: bold;
  line-height: 46px;
}

#conn-alert a {
  text-decoration: none;
  color: #555;
}

div.statusbar {
  background-color: #FFF;
  border-bottom: 3px solid black;
}

div.river {
	position: relative;
  text-align: center;
  margin: 30px auto 0 auto;
  width: 972px;
  height: 200px;
}

div.any-card {
	z-index: 1;
	position: relative;
  float: left;
  background-color: #FFF;
  margin: 0 2px;
  border: 4px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

div.pile-card, div.deck-card {
	position: relative;
  background-color: #FFF;
  margin: 10px auto 10px auto;
  border: 4px solid black;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

div.deck-card {
	z-index: 50;
	background-image: url('i/card_back.png');
	background-size: 150px;
}

img.duck, img.actioncard {
	width: 150px;
}

img.target {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
	z-index: 100;
}

img.miniduck {
	position: absolute;
	left: 100px;
	top: 3px;
	width: 48px;
	z-index: 20;
}

div.pile {
  clear: left;
  float: left;
  width: 25%;
}

div.deck {
  float: left;
  width: 25%;
}

div.hand {
  float: left;
  width: 50%;
  height: 250px;
}

div.hand-inner {
	position: relative;
  margin: 90px auto 0;
  width: 486px;
}

div.possible_move {
  border: 4px solid red !important;
}

div.selected_move {
	border: 4px solid #00AA00 !important;
}

div.debug {
	clear: both;
}

div.message-box {
	width: 286px;
	height: 450px;
	margin: 30px 5px 0 5px;
	padding: 5px;
	background-color: #FFF;
	border: 2px solid black;
	overflow-y: auto;
}

div.message-box div {
	font-size: 12px;
	margin: 4px 0;
}

div.message-input {
	width: 296px;
	margin: 5px 5px 0 5px;
}

#message-input {
  padding: 2px;
	border: 2px solid black;
	width: 292px;
  margin: 0;
}

span.has-move {
  border-bottom: 4px solid red;
}

span.this-player {
	color: red;
}

table.lives {
  width: 100%;
}

.duck-lives {
}

.player {
  padding: 20px;
  font-size: 26px;
  width: 16.66%;
  text-align: center;
}

.duck-lives img {
  margin-top: 5px;
}

.placeholder {
	visibility: hidden;
}

table.simple {
  border-collapse: collapse;
  border: 0 none;
}

table.simple td,th {
  border: 0 none;
  padding: 6px 12px;
}

.game-title a {
  font-weight: bold;
  text-decoration: none;
  color: #555;
}

/* message colors */
span.msg-col0 { color: #B0B; }
span.msg-col1 { color: #0C0; }
span.msg-col2 { color: #00F; }
span.msg-col3 { color: #F80; }
span.msg-col4 { color: #FFC300; }
span.msg-col5 { color: #F4F; }

span.msg-sys0 { color: #000; }

form {
  margin: 5px 0px;
}

h2 {
  font-size: 22px;
}

label {
  font-weight: bold;
}

input {
  margin: 0;
  padding: 0 7px;
  min-height: 32px;
  min-width: 250px;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #FFF;
}

button, input[type=submit]{
  margin: 6px 6px 6px 0px;
  padding: 6px 12px;
  background-color: #1c94c4;
  color: #EEE;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #148cbc;
  border-radius: 3px;
}

button.button-fb {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  width: 266px;
  text-align: left;
}

button.button-g {
  color: rgba(0,0,0,.54);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  vertical-align: middle;
  width: 266px;
  text-align: left;
}

button span {
  margin-left: 14px;
}

button img {
  display:inline-block;
  vertical-align: middle;
}